PORT=4000
EVALUATION_API_BASE=http://4.224.186.213/evaluation-service
EVALUATION_EMAIL=
EVALUATION_NAME=
EVALUATION_MOBILE=
EVALUATION_GITHUB_USERNAME=
EVALUATION_ROLL_NO=
EVALUATION_ACCESS_CODE=
EVALUATION_CLIENT_ID=
EVALUATION_CLIENT_SECRET=
EVALUATION_ACCESS_TOKEN=
LOG_ACCESS_TOKEN=
